In [1]:
import re
import json
import codecs

import time

from datetime import datetime
from collections import Counter, OrderedDict
from operator import itemgetter

import numpy as np
import pandas as pd

import gmplot
import geopy.distance

import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df_mcc = pd.read_csv('data/mcc_codes_ru.csv', sep=',', encoding='utf-8')
df_mcc = df_mcc.set_index('MCC')
df_mcc.head()

,Название,Группа,Обновлено
MCC,,,
742,Ветеринарные услуги,Контрактные услуги,31.01.18
763,Сельскохозяйственные кооперативы,Контрактные услуги,31.01.18
780,Услуги садоводства и ландшафтного дизайна,Контрактные услуги,31.01.18
1520,Генеральные подрядчики – жилое и коммерческое ...,Контрактные услуги,31.01.18
1711,"Генеральные подрядчики по вентиляции, теплосна...",Контрактные услуги,31.01.18

In [3]:
dtypes = {
    'amount': np.float32,
    'atm_address': str,
    'atm_address_lat': np.float32,
    'atm_address_lon': np.float32,
    'city': str,
    'country': str,
    'currency': np.float32,
    'customer_id': str,
    'home_add_lat': np.float32,
    'home_add_lon': np.float32,
    'mcc': str,
    'pos_address': str,
    'pos_address_lat': np.float32,
    'pos_address_lon': np.float32,
    'terminal_id': str,
    'transaction_date': str,
    'work_add_lat': np.float32,
    'work_add_lon': np.float32
}

In [4]:
use_columns = dtypes.keys()

df_1 = pd.read_csv("train_set.csv", sep=',', encoding='utf-8', dtype=dtypes, usecols=use_columns)
df_1["is_train"] = True
df_1.head()

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon,is_train
0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177,True
1,2.775633,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177,True
2,3.708368,NaN,NaN,NaN,St Petersburg,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5992,"PR.MARSHALA ZHUKOVA,31St Petersburg190000 7...",59.858200,30.229023,df06c1fcd3718a514535ae822785f716,2017-10-03,59.847,30.177,True
3,2.787498,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,6c5e5793ebc984fb72875feffff62854,2017-09-09,59.847,30.177,True
4,2.892510,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,0576445d74e374c92c0902e612fca356,2017-07-06,59.847,30.177,True

In [5]:
use_columns = filter(lambda k: not (k.startswith('home_') or k.startswith('work_')), dtypes.iterkeys())

df_2 = pd.read_csv("test_set.csv", sep=',', encoding='utf-8', dtype=dtypes, usecols=use_columns)
df_2["mcc"] = df_2["mcc"].map(lambda x: re.sub(',', '', x))
df_2["is_train"] = False
df_2.head()

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,is_train
0,2.211818,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,2-1 TOLMACHEVA STRIVANTEEVKA141280 RUSRUS,55.967487,37.913681,ff0476dae4b098a7b16aabe93d4268df,2017-08-24,False
1,1.331379,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,4111,"SOVETSKIJ, 32IVANTEEVKA141282 RUSRUS",55.971294,37.905186,7cfd9a60282459d4692ecc85b856072e,2017-08-12,False
2,2.608004,NaN,NaN,NaN,PUSHKINO,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,"105,KRASOARMEYSKOE SHPUSHKINO141206 RUSRUS",56.016590,37.909100,7e5a532f0029861d8a9c4f0479b9450b,2017-06-17,False
3,1.916752,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,"G. IVANTEEVKA, UL.TOLMACHEVA, D.6IVANTEEVKA141...",55.964508,37.937912,2afe7d1bc61b86c449f413bdf2119032,2017-08-12,False
4,1.981067,NaN,NaN,NaN,MOSCOW,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5814,5 KOMSOMOLSKAYA SQMOSCOW101000 RUSRUS,55.776802,37.657352,ab4f00601ff1d949afc59ee3f804c79c,2017-04-26,False

In [6]:
df = pd.concat([df_1, df_2], axis=0)
df["mcc"] = df["mcc"].astype(np.int32)

In [7]:
# mask = np.logical_and(df["mcc"] != 6010, df["mcc"] != 6011)
mask = True

In [8]:
mask_home = np.logical_and(
    df["home_add_lat"].notnull(),
    df["home_add_lon"].notnull()
)
mask_home = np.logical_and(mask_home, mask)

is_home_stats = \
    (df.loc[mask_home, "pos_address_lat"] - df.loc[mask_home, "home_add_lat"]).pow(2) +\
    (df.loc[mask_home, "pos_address_lon"] - df.loc[mask_home, "home_add_lon"]).pow(2) <= 0.02 ** 2

sum(is_home_stats) / float(len(is_home_stats))

0.18308051322835134

In [9]:
mask_work = np.logical_and(
    df["work_add_lat"].notnull(),
    df["work_add_lon"].notnull()
)
mask_work = np.logical_and(mask_work, mask)

is_work_stats = \
    (df.loc[mask_work, "pos_address_lat"] - df.loc[mask_work, "home_add_lat"]).pow(2) +\
    (df.loc[mask_work, "pos_address_lon"] - df.loc[mask_work, "home_add_lon"]).pow(2) <= 0.02 ** 2

sum(is_work_stats) / float(len(is_work_stats))

0.19405259832094604

In [10]:
codes = []

for code, group in df.groupby("mcc"):
    if 6010 <= code <= 6011:
        continue

    # Работа
    mask_work = np.logical_and(
        group["work_add_lat"].notnull(),
        group["work_add_lon"].notnull()
    )
    
    is_work = \
        (group.loc[mask_work, "pos_address_lat"] - group.loc[mask_work, "work_add_lat"]).pow(2) +\
        (group.loc[mask_work, "pos_address_lon"] - group.loc[mask_work, "work_add_lon"]).pow(2) <= 0.02 ** 2
        
    p_is_work = sum(is_work) / float(len(is_work)) if len(is_work) > 0 else np.nan
    
    # Дом
    mask_home = np.logical_and(
        group["home_add_lat"].notnull(),
        group["home_add_lon"].notnull()
    )
    
    is_home = \
        (group.loc[mask_home, "pos_address_lat"] - group.loc[mask_home, "home_add_lat"]).pow(2) +\
        (group.loc[mask_home, "pos_address_lon"] - group.loc[mask_home, "home_add_lon"]).pow(2) <= 0.02 ** 2
        
    p_is_home = sum(is_home) / float(len(is_home)) if len(is_home) > 0 else np.nan

    codes.append((code, p_is_work, p_is_home, group.shape[0]))
    
codes = sorted(codes, key=lambda x: (x[-1], -x[0]), reverse=True)

In [11]:
codes_suspicious = OrderedDict()

for record in codes:
    print "{}\tis_work={:.3f}\tis_home={:.3f}\ttotal={}".format(*record)
    codes_susp_info = {
        'p_work': record[1] > 0.2  and record[3] > 80,
        'n_work': record[1] < 0.03 and record[3] > 80,
        'p_home': record[2] > 0.2  and record[3] > 80,
        'n_home': record[2] < 0.03 and record[3] > 80
    }
    codes_suspicious[record[0]] = codes_susp_info

5411	is_work=0.136	is_home=0.324	total=785960
5814	is_work=0.255	is_home=0.089	total=256733
5812	is_work=0.342	is_home=0.078	total=126508
5541	is_work=0.063	is_home=0.128	total=92953
5499	is_work=0.179	is_home=0.369	total=92242
5912	is_work=0.148	is_home=0.339	total=83924
4111	is_work=0.084	is_home=0.108	total=52044
5921	is_work=0.109	is_home=0.414	total=38009
5331	is_work=0.135	is_home=0.325	total=25499
5261	is_work=0.088	is_home=0.085	total=24591
5691	is_work=0.092	is_home=0.110	total=22674
5977	is_work=0.129	is_home=0.211	total=20082
5999	is_work=0.151	is_home=0.225	total=19254
5311	is_work=0.188	is_home=0.403	total=17684
5211	is_work=0.093	is_home=0.175	total=14030
5641	is_work=0.083	is_home=0.245	total=11923
8099	is_work=0.090	is_home=0.161	total=11004
5651	is_work=0.092	is_home=0.136	total=10831
5995	is_work=0.072	is_home=0.332	total=10679
5661	is_work=0.098	is_home=0.146	total=9262
5945	is_work=0.102	is_home=0.235	total=8701
7230	is_work=0.122	is_home=0.217	total=8582
5533	is_work=0.099	is_home=0.139	total=8024
4784	is_work=0.013	is_home=0.028	total=7757
5941	is_work=0.068	is_home=0.123	total=7754
5942	is_work=0.132	is_home=0.172	total=7375
7832	is_work=0.097	is_home=0.170	total=6832
5699	is_work=0.097	is_home=0.107	total=6722
5732	is_work=0.129	is_home=0.184	total=6362
5200	is_work=0.110	is_home=0.217	total=6111
5813	is_work=0.120	is_home=0.117	total=5614
5992	is_work=0.122	is_home=0.254	total=5494
5712	is_work=0.055	is_home=0.109	total=5348
8999	is_work=0.109	is_home=0.146	total=5016
5300	is_work=0.083	is_home=0.100	total=4466
7011	is_work=0.051	is_home=0.009	total=3905
7997	is_work=0.108	is_home=0.167	total=3851
5621	is_work=0.106	is_home=0.135	total=3842
4812	is_work=0.109	is_home=0.217	total=3816
5983	is_work=0.095	is_home=0.157	total=3794
5722	is_work=0.088	is_home=0.192	total=3747
7523	is_work=0.036	is_home=0.015	total=3290
7298	is_work=0.071	is_home=0.125	total=2855
5944	is_work=0.095	is_home=0.154	total=2628
8021	is_work=0.079	is_home=0.173	total=2386
5655	is_work=0.097	is_home=0.128	total=2007
5631	is_work=0.084	is_home=0.136	total=1964
5542	is_work=0.074	is_home=0.196	total=1956
5511	is_work=0.051	is_home=0.072	total=1955
8011	is_work=0.198	is_home=0.108	total=1852
5943	is_work=0.142	is_home=0.262	total=1774
7538	is_work=0.076	is_home=0.189	total=1722
8043	is_work=0.146	is_home=0.180	total=1708
7542	is_work=0.153	is_home=0.224	total=1675
5947	is_work=0.093	is_home=0.095	total=1465
6300	is_work=0.199	is_home=0.122	total=1424
4814	is_work=0.113	is_home=0.058	total=1319
5993	is_work=0.257	is_home=0.163	total=1286
5719	is_work=0.174	is_home=0.142	total=1244
5462	is_work=0.269	is_home=0.267	total=1243
7991	is_work=0.037	is_home=0.019	total=1191
5309	is_work=0.018	is_home=0.002	total=1169
4112	is_work=0.042	is_home=0.055	total=1099
5441	is_work=0.235	is_home=0.197	total=1095
5611	is_work=0.089	is_home=0.177	total=943
7999	is_work=0.026	is_home=0.083	total=883
5251	is_work=0.032	is_home=0.223	total=868
5949	is_work=0.120	is_home=0.137	total=836
7941	is_work=0.089	is_home=0.111	total=827
5948	is_work=0.097	is_home=0.177	total=818
4215	is_work=0.109	is_home=0.125	total=816
5994	is_work=0.836	is_home=0.023	total=815
4789	is_work=0.032	is_home=0.276	total=807
5422	is_work=0.057	is_home=0.243	total=804
4722	is_work=0.097	is_home=0.085	total=783
5039	is_work=0.000	is_home=0.378	total=734
7216	is_work=0.269	is_home=0.246	total=677
5399	is_work=0.039	is_home=0.332	total=662
8071	is_work=0.028	is_home=0.126	total=616
5714	is_work=0.107	is_home=0.185	total=584
4900	is_work=0.088	is_home=0.282	total=548
5451	is_work=0.144	is_home=0.245	total=537
742	is_work=0.060	is_home=0.333	total=500
5532	is_work=0.110	is_home=0.177	total=481
8062	is_work=0.106	is_home=0.083	total=440
5192	is_work=0.762	is_home=0.027	total=438
5811	is_work=0.028	is_home=0.169	total=425
7922	is_work=0.096	is_home=0.087	total=405
5013	is_work=0.051	is_home=0.361	total=388
4121	is_work=0.011	is_home=0.023	total=350
5193	is_work=0.071	is_home=0.120	total=342
5521	is_work=0.046	is_home=0.006	total=337
7210	is_work=0.250	is_home=0.260	total=323
4214	is_work=0.073	is_home=0.118	total=300
7299	is_work=0.145	is_home=0.190	total=279
5681	is_work=0.057	is_home=0.146	total=277
5946	is_work=0.129	is_home=0.185	total=258
5172	is_work=0.111	is_home=0.145	total=249
7933	is_work=0.162	is_home=0.189	total=244
7399	is_work=0.065	is_home=0.065	total=236
7996	is_work=0.056	is_home=0.041	total=217
4511	is_work=0.127	is_home=0.046	total=215
5970	is_work=0.051	is_home=0.051	total=202
7338	is_work=0.475	is_home=0.098	total=197
5976	is_work=0.021	is_home=0.194	total=196
7699	is_work=0.109	is_home=0.157	total=187
7221	is_work=0.442	is_home=0.202	total=186
3649	is_work=0.000	is_home=0.010	total=171
9399	is_work=0.318	is_home=0.012	total=156
5231	is_work=0.130	is_home=0.026	total=146
5969	is_work=0.154	is_home=0.012	total=146
8299	is_work=0.000	is_home=0.140	total=146
5950	is_work=0.175	is_home=0.127	total=145
3553	is_work=0.000	is_home=0.015	total=142
5122	is_work=0.150	is_home=0.125	total=127
7395	is_work=0.105	is_home=0.218	total=123
9402	is_work=0.054	is_home=0.314	total=119
5931	is_work=0.000	is_home=0.273	total=115
5971	is_work=0.043	is_home=0.021	total=98
5571	is_work=0.000	is_home=0.000	total=95
7349	is_work=0.000	is_home=0.026	total=92
7911	is_work=0.000	is_home=0.027	total=92
5733	is_work=0.030	is_home=0.071	total=91
3501	is_work=0.000	is_home=0.000	total=82
5045	is_work=0.037	is_home=0.128	total=82
7995	is_work=0.000	is_home=0.282	total=81
8661	is_work=0.000	is_home=0.390	total=81
5697	is_work=0.000	is_home=0.054	total=80
3533	is_work=0.000	is_home=0.024	total=77
7929	is_work=0.000	is_home=0.000	total=75
9222	is_work=0.050	is_home=0.026	total=75
7531	is_work=0.000	is_home=0.040	total=67
5940	is_work=0.056	is_home=0.133	total=64
8398	is_work=0.059	is_home=0.233	total=62
3692	is_work=0.000	is_home=0.000	total=59
5074	is_work=0.083	is_home=0.095	total=57
5713	is_work=0.000	is_home=0.031	total=56
8111	is_work=0.000	is_home=0.074	total=56
2741	is_work=0.105	is_home=0.405	total=55
3586	is_work=0.000	is_home=0.027	total=55
5085	is_work=0.071	is_home=0.048	total=52
5734	is_work=0.429	is_home=0.000	total=50
7251	is_work=0.067	is_home=0.158	total=48
4131	is_work=0.000	is_home=0.000	total=47
5137	is_work=0.000	is_home=0.059	total=47
5111	is_work=0.143	is_home=0.143	total=46
5131	is_work=0.059	is_home=0.000	total=45
5065	is_work=0.000	is_home=0.263	total=43
3509	is_work=0.000	is_home=0.000	total=41
3640	is_work=0.000	is_home=0.038	total=41
5072	is_work=0.000	is_home=0.077	total=40
3604	is_work=0.000	is_home=0.000	total=38
1711	is_work=0.050	is_home=0.087	total=37
5047	is_work=0.000	is_home=0.095	total=37
8211	is_work=0.000	is_home=0.000	total=36
5198	is_work=0.000	is_home=0.048	total=35
7297	is_work=0.143	is_home=0.250	total=35
7311	is_work=0.125	is_home=0.231	total=34
5718	is_work=0.000	is_home=0.000	total=32
7534	is_work=0.000	is_home=0.500	total=32
7394	is_work=0.300	is_home=0.000	total=31
3503	is_work=0.000	is_home=0.000	total=30
5310	is_work=0.000	is_home=0.333	total=30
6513	is_work=0.000	is_home=0.400	total=30
7629	is_work=0.000	is_home=0.071	total=29
780	is_work=0.000	is_home=0.300	total=26
5021	is_work=0.050	is_home=0.087	total=25
3642	is_work=0.167	is_home=0.000	total=24
7512	is_work=0.000	is_home=0.000	total=24
7994	is_work=0.000	is_home=0.200	total=24
8699	is_work=0.000	is_home=0.250	total=24
3579	is_work=0.000	is_home=0.000	total=22
5199	is_work=0.000	is_home=0.000	total=22
7622	is_work=0.000	is_home=0.000	total=22
7998	is_work=0.000	is_home=0.000	total=22
3543	is_work=0.000	is_home=0.000	total=21
3665	is_work=0.000	is_home=0.000	total=20
8220	is_work=0.000	is_home=0.250	total=20
5599	is_work=0.000	is_home=0.000	total=19
3504	is_work=0.000	is_home=0.000	total=18
5094	is_work=0.000	is_home=0.000	total=18
3530	is_work=0.000	is_home=0.000	total=17
7992	is_work=0.000	is_home=0.000	total=17
1750	is_work=0.000	is_home=0.000	total=16
1799	is_work=0.000	is_home=0.250	total=16
4411	is_work=0.167	is_home=0.000	total=16
5973	is_work=0.167	is_home=0.125	total=16
5099	is_work=0.000	is_home=0.300	total=15
3634	is_work=0.000	is_home=0.000	total=14
4225	is_work=0.000	is_home=0.000	total=14
4816	is_work=0.000	is_home=0.000	total=13
5531	is_work=0.000	is_home=0.000	total=13
7549	is_work=0.000	is_home=0.200	total=13
3750	is_work=0.000	is_home=0.000	total=12
4582	is_work=0.000	is_home=0.000	total=12
7379	is_work=0.400	is_home=0.143	total=12
8050	is_work=0.333	is_home=0.417	total=12
3710	is_work=0.000	is_home=0.167	total=11
3778	is_work=0.000	is_home=0.000	total=10
5735	is_work=0.000	is_home=0.000	total=10
7333	is_work=nan	is_home=0.000	total=10
7932	is_work=0.000	is_home=0.250	total=10
8244	is_work=0.000	is_home=0.000	total=10
1731	is_work=nan	is_home=0.000	total=9
5963	is_work=nan	is_home=0.000	total=9
5978	is_work=0.333	is_home=0.200	total=9
4119	is_work=0.000	is_home=0.000	total=8
5051	is_work=0.000	is_home=0.000	total=8
5551	is_work=0.000	is_home=0.000	total=8
7535	is_work=0.000	is_home=0.000	total=8
8042	is_work=0.000	is_home=0.000	total=8
7392	is_work=0.000	is_home=0.200	total=7
5046	is_work=0.000	is_home=0.000	total=6
5972	is_work=nan	is_home=nan	total=6
5996	is_work=0.000	is_home=0.000	total=6
7211	is_work=0.000	is_home=0.400	total=6
763	is_work=0.000	is_home=0.000	total=5
5169	is_work=0.000	is_home=1.000	total=5
7296	is_work=nan	is_home=0.000	total=5
9311	is_work=0.000	is_home=0.000	total=5
1520	is_work=nan	is_home=nan	total=4
1761	is_work=0.000	is_home=0.000	total=4
3011	is_work=nan	is_home=1.000	total=4
3047	is_work=0.000	is_home=0.667	total=4
3512	is_work=0.000	is_home=0.000	total=4
3690	is_work=nan	is_home=nan	total=4
5044	is_work=0.000	is_home=0.000	total=4
5139	is_work=0.000	is_home=0.000	total=4
5698	is_work=nan	is_home=nan	total=4
5997	is_work=0.000	is_home=0.000	total=4
7012	is_work=0.000	is_home=0.000	total=4
7393	is_work=0.000	is_home=0.000	total=4
8351	is_work=0.000	is_home=0.000	total=4
8911	is_work=0.000	is_home=0.000	total=4
3616	is_work=nan	is_home=nan	total=3
5271	is_work=0.000	is_home=0.000	total=3
5561	is_work=0.000	is_home=0.000	total=3
168	is_work=nan	is_home=0.000	total=2
176	is_work=nan	is_home=0.000	total=2
217	is_work=nan	is_home=0.000	total=2
227	is_work=nan	is_home=0.000	total=2
1740	is_work=nan	is_home=nan	total=2
2842	is_work=nan	is_home=0.000	total=2
3026	is_work=nan	is_home=nan	total=2
5816	is_work=0.500	is_home=0.000	total=2
5933	is_work=0.000	is_home=1.000	total=2
5960	is_work=nan	is_home=nan	total=2
5965	is_work=0.000	is_home=0.000	total=2
7261	is_work=nan	is_home=0.000	total=2
7993	is_work=nan	is_home=nan	total=2
8249	is_work=nan	is_home=0.000	total=2
50	is_work=nan	is_home=0.000	total=1
146	is_work=nan	is_home=0.000	total=1
160	is_work=nan	is_home=0.000	total=1
165	is_work=nan	is_home=0.000	total=1
169	is_work=nan	is_home=0.000	total=1
183	is_work=nan	is_home=0.000	total=1
186	is_work=nan	is_home=0.000	total=1
194	is_work=nan	is_home=0.000	total=1
195	is_work=nan	is_home=0.000	total=1
200	is_work=nan	is_home=0.000	total=1
209	is_work=nan	is_home=0.000	total=1
215	is_work=nan	is_home=0.000	total=1
223	is_work=nan	is_home=0.000	total=1
224	is_work=nan	is_home=0.000	total=1
235	is_work=nan	is_home=0.000	total=1
236	is_work=nan	is_home=0.000	total=1
237	is_work=nan	is_home=0.000	total=1
243	is_work=nan	is_home=0.000	total=1
248	is_work=nan	is_home=0.000	total=1
260	is_work=nan	is_home=0.000	total=1
268	is_work=nan	is_home=0.000	total=1
272	is_work=nan	is_home=0.000	total=1
279	is_work=nan	is_home=0.000	total=1
294	is_work=nan	is_home=0.000	total=1
296	is_work=nan	is_home=0.000	total=1
297	is_work=nan	is_home=0.000	total=1
304	is_work=nan	is_home=0.000	total=1
305	is_work=nan	is_home=0.000	total=1
320	is_work=nan	is_home=0.000	total=1
324	is_work=nan	is_home=0.000	total=1
330	is_work=nan	is_home=0.000	total=1
332	is_work=nan	is_home=0.000	total=1
337	is_work=nan	is_home=0.000	total=1
388	is_work=nan	is_home=0.000	total=1
400	is_work=nan	is_home=nan	total=1
458	is_work=nan	is_home=0.000	total=1
3351	is_work=nan	is_home=0.000	total=1
4457	is_work=nan	is_home=0.000	total=1
4899	is_work=nan	is_home=nan	total=1
5598	is_work=nan	is_home=nan	total=1
5932	is_work=nan	is_home=nan	total=1
5937	is_work=nan	is_home=nan	total=1
5975	is_work=nan	is_home=nan	total=1
5998	is_work=nan	is_home=0.000	total=1
7000	is_work=0.000	is_home=0.000	total=1
7032	is_work=nan	is_home=nan	total=1
7278	is_work=nan	is_home=nan	total=1
7623	is_work=nan	is_home=nan	total=1
7692	is_work=nan	is_home=nan	total=1
8675	is_work=nan	is_home=nan	total=1
9211	is_work=nan	is_home=0.000	total=1

In [12]:
codes_suspicious_i = [code for code, info in codes_suspicious.iteritems() if sum(info.values()) > 0]
df_mcc.loc[codes_suspicious_i]

,Название,Группа,Обновлено
MCC,,,
5411,"Бакалейные магазины, супермаркеты",Розничные магазины,01.01.18
5814,Фастфуд,Различные магазины,30.12.17
5812,"Места общественного питания, рестораны",Различные магазины,01.01.18
5499,Различные продовольственные магазины - нигде б...,Розничные магазины,01.01.18
5912,Аптеки,Различные магазины,01.01.18
5921,Магазины с продажей спиртных напитков навынос,Различные магазины,01.01.18
5331,Универсальные магазины,Розничные магазины,01.01.18
5977,Магазины косметики,Различные магазины,01.01.18
5999,Различные магазины и специальные розничные маг...,Различные магазины,01.01.18
5311,Универмаги,Розничные магазины,18.04.17
5641,"Детская одежда, включая одежду для самых мален...",Магазины одежды,18.04.17
5995,Зоомагазины,Различные магазины,18.04.17
5945,"Игрушки, игры и хобби-товары",Различные магазины,01.01.18
7230,Парикмахерские и салоны красоты,Личные услуги,18.04.17
4784,"Дорожный и мостовой сборы, пошлины",Транспорт,18.04.17
5200,Товары для дома,Розничные магазины,18.04.17
5992,Флористика,Различные магазины,01.01.18
7011,Отели и мотели - нигде более не классифицирова...,Отели и мотели,01.01.18
4812,"Телекоммуникационное оборудование, включая про...",Коммунальные и кабельные услуги,01.01.18
7523,Паркинги и гаражи,Бизнес услуги,17.04.17
5943,"Магазины офисных, школьных принадлежностей, ка...",Различные магазины,01.01.18
7542,Автомойки,Ремонтные услуги,18.04.17
5993,Табачные магазины,Различные магазины,18.04.17
5462,Булочные,Розничные магазины,17.04.17
7991,Туристические аттракционы и шоу,Развлечения,01.01.18
5309,Беспошлинные магазины Duty Free,Розничные магазины,18.04.17
5441,Кондитерские,Розничные магазины,18.04.17
7999,Услуги отдыха — нигде более не классифицированные,Развлечения,01.01.18
5251,Скобяные товары в розницу,Розничные магазины,01.01.18
5994,Дилеры по продаже печатной продукции,Различные магазины,01.01.18
...,...,...,...
5399,Различные товары общего назначения,Розничные магазины,06.05.17
8071,Зубные и Медицинские Лаборатории,Профессиональные услуги,18.04.17
4900,"Коммунальные услуги – электричество, газ, сани...",Коммунальные и кабельные услуги,01.01.18
5451,Продажа молочных продуктов в розницу,Розничные магазины,18.04.17
742,Ветеринарные услуги,Контрактные услуги,31.01.18
5192,"Книги, периодические издания и газеты",Оптовые поставщики и производители,01.01.18
5811,Поставщики провизии,Поставщик услуг,01.01.18
5013,Поставщики грузовиков и запчастей,Оптовые поставщики и производители,01.01.18
4121,Лимузины и такси,Транспорт,30.12.17
5521,Продажа легковых и грузовых автомобилей (тольк...,Автомобили и транспортные средства,17.04.17
7210,Услуги по уборке и прачечной,Личные услуги,18.04.17
7338,"Быстрое копирование, репродуцирование и услуги...",Бизнес услуги,18.04.17
5976,Ортопедические товары,Различные магазины,01.01.18
7221,Фотостудии,Личные услуги,01.01.18
3649,Radisson Hotels,Отели и мотели,17.04.17
9399,Правительственные услуги - нигде более не клас...,Государственные услуги,01.01.18
5231,"Розничная продажа стекла, красок и обоев",Розничные магазины,01.01.18
5969,Прямой маркетинг – другие торговые точки прямо...,Продажи по почте/телефону,01.01.18
8299,Образовательные услуги,Профессиональные услуги,18.04.17
3553,Park Inns International,Отели и мотели,17.04.17
7395,"Фотостудии, фотолаборатории",Бизнес услуги,18.04.17
9402,Почтовые услуги (только правительственные),Государственные услуги,01.01.18
5931,"Секонд-хенды, магазины б/у товаров, комиссионки",Различные магазины,01.01.18
5971,Галереи и художественные посредники,Различные магазины,18.04.17
5571,Продажа мотоциклов,Автомобили и транспортные средства,17.04.17
7349,Уборка и чистка помещений,Бизнес услуги,14.04.17
7911,"Танцклубы, танцшколы и студии",Развлечения,17.04.17
3501,Holiday Inns,Отели и мотели,17.04.17
7995,Транзакции по азартным играм,Развлечения,01.01.18
8661,Религиозные организации,Членские организации,18.04.17

In [13]:
df_mcc_features = pd.DataFrame(codes_suspicious).transpose()
df_mcc_features = df_mcc_features.join(df_mcc[u"Группа"])
df_mcc_features.rename(columns={u"Группа": 'mcc_group'}, inplace=True)
mcc_groups = sorted(df_mcc_features['mcc_group'].unique())
df_mcc_features['mcc_group'] = map(mcc_groups.index, df_mcc_features['mcc_group'])
df_mcc_features.sort_index(inplace=True)
df_mcc_features.head()

    n_home n_work p_home p_work  mcc_group
50   False  False  False  False          0
146  False  False  False  False          0
160  False  False  False  False          0
165  False  False  False  False          0
168  False  False  False  False          0

In [14]:
df_mcc.shape[0], df_mcc_features.shape[0]

(1019, 302)

In [15]:
df_mcc_features.to_csv('data/mcc_features.csv', sep=',', encoding='utf-8', index=True, index_label='mcc')