In [1]:
import re
import json
import codecs

from datetime import datetime
from collections import Counter
from operator import itemgetter

import numpy as np
import pandas as pd

import gmplot
import geopy.distance

import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
dtypes = {
    'amount': np.float32,
    'atm_address': str,
    'atm_address_lat': np.float32,
    'atm_address_lon': np.float32,
    'city': str,
    'country': str,
    'currency': np.float32,
    'customer_id': str,
    'home_add_lat': np.float32,
    'home_add_lon': np.float32,
    'mcc': str,
    'pos_address': str,
    'pos_address_lat': np.float32,
    'pos_address_lon': np.float32,
    'terminal_id': str,
    'transaction_date': str,
    'work_add_lat': np.float32,
    'work_add_lon': np.float32
}

In [2]:
use_columns = dtypes.keys()

df_1 = pd.read_csv("train_set.csv", sep=',', encoding='utf-8', dtype=dtypes, usecols=use_columns)
df_1["is_train"] = True
df_1.head()

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon,is_train
0,2.884034,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177,True
1,2.775633,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177,True
2,3.708368,NaN,NaN,NaN,St Petersburg,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5992,"PR.MARSHALA ZHUKOVA,31St Petersburg190000 7...",59.858200,30.229023,df06c1fcd3718a514535ae822785f716,2017-10-03,59.847,30.177,True
3,2.787498,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,6c5e5793ebc984fb72875feffff62854,2017-09-09,59.847,30.177,True
4,2.892510,NaN,NaN,NaN,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851002,30.232,5261,NaN,59.844074,30.179153,0576445d74e374c92c0902e612fca356,2017-07-06,59.847,30.177,True

In [3]:
use_columns = filter(lambda k: not (k.startswith('home_') or k.startswith('work_')), dtypes.iterkeys())

df_2 = pd.read_csv("test_set.csv", sep=',', encoding='utf-8', dtype=dtypes, usecols=use_columns)
df_2["mcc"] = df_2["mcc"].map(lambda x: re.sub(',', '', x))
df_2["is_train"] = False
df_2.head()

,amount,atm_address,atm_address_lat,atm_address_lon,city,country,currency,customer_id,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,is_train
0,2.211818,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,2-1 TOLMACHEVA STRIVANTEEVKA141280 RUSRUS,55.967487,37.913681,ff0476dae4b098a7b16aabe93d4268df,2017-08-24,False
1,1.331379,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,4111,"SOVETSKIJ, 32IVANTEEVKA141282 RUSRUS",55.971294,37.905186,7cfd9a60282459d4692ecc85b856072e,2017-08-12,False
2,2.608004,NaN,NaN,NaN,PUSHKINO,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,"105,KRASOARMEYSKOE SHPUSHKINO141206 RUSRUS",56.016590,37.909100,7e5a532f0029861d8a9c4f0479b9450b,2017-06-17,False
3,1.916752,NaN,NaN,NaN,IVANTEEVKA,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5411,"G. IVANTEEVKA, UL.TOLMACHEVA, D.6IVANTEEVKA141...",55.964508,37.937912,2afe7d1bc61b86c449f413bdf2119032,2017-08-12,False
4,1.981067,NaN,NaN,NaN,MOSCOW,RUS,643.0,00fd410f5c580c8351cafa88d82b60f3,5814,5 KOMSOMOLSKAYA SQMOSCOW101000 RUSRUS,55.776802,37.657352,ab4f00601ff1d949afc59ee3f804c79c,2017-04-26,False

In [4]:
df = pd.concat([df_1, df_2], axis=0)
df["mcc"] = df["mcc"].astype(np.int32)

In [5]:
mask = df[['pos_address_lat', 'pos_address_lon']].notnull().all(axis=1)
df_coords = df.loc[mask, ["terminal_id", "mcc", 'pos_address_lat', 'pos_address_lon']].\
    groupby("terminal_id").median()
df_coords["mcc"] = df_coords["mcc"].astype(np.int32)
df_coords.sort_values(by=['pos_address_lat', 'pos_address_lon'], inplace=True)
df_coords.rename(columns={'pos_address_lat':'lat', 'pos_address_lon':'lon'}, inplace=True)
df_coords.head()

                                   mcc        lat        lon
terminal_id
35cbf8977b0279ea11c9f0c2bb4023f8  5331  42.102032  48.275082
4ed14e29988ba900f4606b7672ee78d3  5499  42.102032  48.275082
6ce9b191529e47eb9ac10e87e2c14033  5814  42.102032  48.275082
7048cc76efcc83cd740fa61ee623abd3  4722  42.102032  48.275082
a163fab651d6ce0c9bfa7b3e305ed731  5814  42.102032  48.275082

In [6]:
coords = df_coords[['lat', 'lon']].values

In [7]:
def get_banks_area(coords, lat, lon, s=0.01):
    lat_l = np.searchsorted(coords[:, 0], lat - s, side='left')
    lat_r = np.searchsorted(coords[:, 0], lat + s, side='right')
    
    index = []
    for lon_l, lon_curr in enumerate(coords[lat_l:lat_r, 1]):
        if lon - s <= lon_curr <= lon + s:
            index.append(lat_l + lon_l)
    
    return index

def filter_results(df_results, lat, lon):
    df_results["dist"] = df_results.apply(
        lambda x: geopy.distance.vincenty((x["lat"], x["lon"]), (lat, lon)).km,
        axis=1
    )
    df_results = df_results.loc[df_results["dist"] <= 1.0]
    df_results.sort_values(by="dist", inplace=True)
    return df_results

df_pos_info = []

for i, term_id in enumerate(df_coords.index):
    lat, lon, mcc = df_coords.loc[term_id, ["lat", "lon", "mcc"]]
    index = get_banks_area(coords, lat, lon)
    df_results = df_coords.iloc[index]
    df_results = filter_results(df_results, lat, lon)
    pos_info = {
        'terminal_id': term_id,
        'lat': lat,
        'lon': lon,
        'mcc': mcc,
        'n_points': df_results.shape[0],
        'n_points_same': sum(df_results["mcc"] == mcc)
    }
    df_pos_info.append(pos_info)
    
    if (i + 1) % 1000 == 0:
        print u'{} of {} processed...'.format(i + 1, df_coords.shape[0])
    
df_pos_info = pd.DataFrame(df_pos_info)
df_pos_info.head()

/home/vladimir/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vladimir/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1000 of 255995 processed...
2000 of 255995 processed...
3000 of 255995 processed...
4000 of 255995 processed...
5000 of 255995 processed...
6000 of 255995 processed...
7000 of 255995 processed...
8000 of 255995 processed...
9000 of 255995 processed...
10000 of 255995 processed...
11000 of 255995 processed...
12000 of 255995 processed...
13000 of 255995 processed...
14000 of 255995 processed...
15000 of 255995 processed...
16000 of 255995 processed...
17000 of 255995 processed...
18000 of 255995 processed...
19000 of 255995 processed...
20000 of 255995 processed...
21000 of 255995 processed...
22000 of 255995 processed...
23000 of 255995 processed...
24000 of 255995 processed...
25000 of 255995 processed...
26000 of 255995 processed...
27000 of 255995 processed...
28000 of 255995 processed...
29000 of 255995 processed...
30000 of 255995 processed...
31000 of 255995 processed...
32000 of 255995 processed...
33000 of 255995 processed...
34000 of 255995 processed...
35000 of 255995 processed...
36000 of 255995 processed...
37000 of 255995 processed...
38000 of 255995 processed...
39000 of 255995 processed...
40000 of 255995 processed...
41000 of 255995 processed...
42000 of 255995 processed...
43000 of 255995 processed...
44000 of 255995 processed...
45000 of 255995 processed...
46000 of 255995 processed...
47000 of 255995 processed...
48000 of 255995 processed...
49000 of 255995 processed...
50000 of 255995 processed...
51000 of 255995 processed...
52000 of 255995 processed...
53000 of 255995 processed...
54000 of 255995 processed...
55000 of 255995 processed...
56000 of 255995 processed...
57000 of 255995 processed...
58000 of 255995 processed...
59000 of 255995 processed...
60000 of 255995 processed...
61000 of 255995 processed...
62000 of 255995 processed...
63000 of 255995 processed...
64000 of 255995 processed...
65000 of 255995 processed...
66000 of 255995 processed...
67000 of 255995 processed...
68000 of 255995 processed...
69000 of 255995 processed...
70000 of 255995 processed...
71000 of 255995 processed...
72000 of 255995 processed...
73000 of 255995 processed...
74000 of 255995 processed...
75000 of 255995 processed...
76000 of 255995 processed...
77000 of 255995 processed...
78000 of 255995 processed...
79000 of 255995 processed...
80000 of 255995 processed...
81000 of 255995 processed...
82000 of 255995 processed...
83000 of 255995 processed...
84000 of 255995 processed...
85000 of 255995 processed...
86000 of 255995 processed...
87000 of 255995 processed...
88000 of 255995 processed...
89000 of 255995 processed...
90000 of 255995 processed...
91000 of 255995 processed...
92000 of 255995 processed...
93000 of 255995 processed...
94000 of 255995 processed...
95000 of 255995 processed...
96000 of 255995 processed...
97000 of 255995 processed...
98000 of 255995 processed...
99000 of 255995 processed...
100000 of 255995 processed...
101000 of 255995 processed...
102000 of 255995 processed...
103000 of 255995 processed...
104000 of 255995 processed...
105000 of 255995 processed...
106000 of 255995 processed...
107000 of 255995 processed...
108000 of 255995 processed...
109000 of 255995 processed...
110000 of 255995 processed...
111000 of 255995 processed...
112000 of 255995 processed...
113000 of 255995 processed...
114000 of 255995 processed...
115000 of 255995 processed...
116000 of 255995 processed...
117000 of 255995 processed...
118000 of 255995 processed...
119000 of 255995 processed...
120000 of 255995 processed...
121000 of 255995 processed...
122000 of 255995 processed...
123000 of 255995 processed...
124000 of 255995 processed...
125000 of 255995 processed...
126000 of 255995 processed...
127000 of 255995 processed...
128000 of 255995 processed...
129000 of 255995 processed...
130000 of 255995 processed...
131000 of 255995 processed...
132000 of 255995 processed...
133000 of 255995 processed...
134000 of 255995 processed...
135000 of 255995 processed...
136000 of 255995 processed...
137000 of 255995 processed...
138000 of 255995 processed...
139000 of 255995 processed...
140000 of 255995 processed...
141000 of 255995 processed...
142000 of 255995 processed...
143000 of 255995 processed...
144000 of 255995 processed...
145000 of 255995 processed...
146000 of 255995 processed...
147000 of 255995 processed...
148000 of 255995 processed...
149000 of 255995 processed...
150000 of 255995 processed...
151000 of 255995 processed...
152000 of 255995 processed...
153000 of 255995 processed...
154000 of 255995 processed...
155000 of 255995 processed...
156000 of 255995 processed...
157000 of 255995 processed...
158000 of 255995 processed...
159000 of 255995 processed...
160000 of 255995 processed...
161000 of 255995 processed...
162000 of 255995 processed...
163000 of 255995 processed...
164000 of 255995 processed...
165000 of 255995 processed...
166000 of 255995 processed...
167000 of 255995 processed...
168000 of 255995 processed...
169000 of 255995 processed...
170000 of 255995 processed...
171000 of 255995 processed...
172000 of 255995 processed...
173000 of 255995 processed...
174000 of 255995 processed...
175000 of 255995 processed...
176000 of 255995 processed...
177000 of 255995 processed...
178000 of 255995 processed...
179000 of 255995 processed...
180000 of 255995 processed...
181000 of 255995 processed...
182000 of 255995 processed...
183000 of 255995 processed...
184000 of 255995 processed...
185000 of 255995 processed...
186000 of 255995 processed...
187000 of 255995 processed...
188000 of 255995 processed...
189000 of 255995 processed...
190000 of 255995 processed...
191000 of 255995 processed...
192000 of 255995 processed...
193000 of 255995 processed...
194000 of 255995 processed...
195000 of 255995 processed...
196000 of 255995 processed...
197000 of 255995 processed...
198000 of 255995 processed...
199000 of 255995 processed...
200000 of 255995 processed...
201000 of 255995 processed...
202000 of 255995 processed...
203000 of 255995 processed...
204000 of 255995 processed...
205000 of 255995 processed...
206000 of 255995 processed...
207000 of 255995 processed...
208000 of 255995 processed...
209000 of 255995 processed...
210000 of 255995 processed...
211000 of 255995 processed...
212000 of 255995 processed...
213000 of 255995 processed...
214000 of 255995 processed...
215000 of 255995 processed...
216000 of 255995 processed...
217000 of 255995 processed...
218000 of 255995 processed...
219000 of 255995 processed...
220000 of 255995 processed...
221000 of 255995 processed...
222000 of 255995 processed...
223000 of 255995 processed...
224000 of 255995 processed...
225000 of 255995 processed...
226000 of 255995 processed...
227000 of 255995 processed...
228000 of 255995 processed...
229000 of 255995 processed...
230000 of 255995 processed...
231000 of 255995 processed...
232000 of 255995 processed...
233000 of 255995 processed...
234000 of 255995 processed...
235000 of 255995 processed...
236000 of 255995 processed...
237000 of 255995 processed...
238000 of 255995 processed...
239000 of 255995 processed...
240000 of 255995 processed...
241000 of 255995 processed...
242000 of 255995 processed...
243000 of 255995 processed...
244000 of 255995 processed...
245000 of 255995 processed...
246000 of 255995 processed...
247000 of 255995 processed...
248000 of 255995 processed...
249000 of 255995 processed...
250000 of 255995 processed...
251000 of 255995 processed...
252000 of 255995 processed...
253000 of 255995 processed...
254000 of 255995 processed...
255000 of 255995 processed...

,lat,lon,mcc,n_points,n_points_same,terminal_id
0,42.102032,48.275082,5331.0,9,3,35cbf8977b0279ea11c9f0c2bb4023f8
1,42.102032,48.275082,5499.0,9,1,4ed14e29988ba900f4606b7672ee78d3
2,42.102032,48.275082,5814.0,9,4,6ce9b191529e47eb9ac10e87e2c14033
3,42.102032,48.275082,4722.0,9,1,7048cc76efcc83cd740fa61ee623abd3
4,42.102032,48.275082,5814.0,9,4,a163fab651d6ce0c9bfa7b3e305ed731

In [8]:
df_pos_info.to_csv('data/pos_features.csv', sep=',', index=False, encoding='utf-8')